.line-chart-svg {

  font-family: 'Raleway', sans-serif;

  .axis path,
  .axis line {
    fill: none;
    stroke: rgb(100,100,100);
    // stroke: pink;

  }

  .y.axis path {
    stroke: none;
  }

  .y-axis-label {

  }

  .line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }

  .tick text{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
  }

  .tick line{
    opacity: .2;
    // stroke: none;
  }

}

div.line-chart-tooltip {
  font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: white;
    background: rgb(245,245,245);
    box-shadow: 0 1px 1px 1px rgba(150,150,150, .5);
    border: 0px;
    z-index: 4;
    pointer-events: none;
}
